<h3>Welcome to the <%= @info[:topic].name %> resource page!</h3>

<div class="create">
  <a href="/resources/<%= @info[:topic].id %>/create">Add a fantastic resource for learning <%= @info[:topic].name %>!</a><br><br>
</div>

Resources currently available:

<div class="form">
  <form action="/resources/delete/<%= @info[:topic].id %>" method="POST">
    <% @info[:resources].each do |resource| %>
    
      <br><a href="/resources/<%=resource.id%>"><%= resource.name %></a>
          <br>
      <% if @rights[:delete] %>
          Delete<input type="checkbox" name="delete_resources[<%=resource.id%>]">
      <% end %>
          <br>
      <% if @rights[:edit] %>
          <a href="/resources/edit/<%= resource.id %>">edit</a>
      <% end %>
          <br><br>
    <% end %>

    <% if @rights[:delete] %>
      <br><br><input type="submit" value="Submit Deletions">
    <% end %>

  </form>
</div> <!-- .form -->

<br><br>

<div class="helper_links">
  <a href="/categories/<%= @info[:topic].category_id %>"><%= @info[:category].name %> Resources</a><br>
  <a href="/categories/index">Category Index</a><br>
  <br><a href="/">Home</a>
</div>