<h3><%= @user.username %>'s Profile:</h3>

Member level: <%= @user.member_status %> <br><br>

Categories Added: <br>
<% @categories.uniq.each do |category|%>
  <div class="categories">
    <a href="/categories/<%= category.id %>"><%= category.name %></a> <br>
  </div>
<% end %>
<br>
Topics Added: <br>
<% @topics.uniq.each do |topic|%>
  <div class="topics">
    <a href="/topics/<%= topic.id %>"><%= topic.name %></a> <br>
  </div>
<% end %>
<br>
Resources Added: <br>

<% @resources.each do |resource|%>
  <div class="resources">
    <a href="/resources/<%= resource.id %>"><%= resource.name %></a> <br>
  </div>
<% end %>

<br><br>

<div class="helper_links">
  <a href="/users/index">User Index</a><br>
  <br><a href="/">Home</a>
</div>