<h3>Welcome to <%= @resource.name %>!</h3>

<a href="">In the future, add comments, and reviews!</a><br><br>
  <div id="resource">
    <b>Name:</b> <a href="<%= @resource.url %>"><%= @resource.name %> <br></a>
    <b>Address:</b> <%= @resource.url %> <br>
    <b>Description:</b> <%= @resource.description %> <br>
  </div>

  <br><br>

  <div>
    <% if @rights[:edit] %>
      <a href="/resources/edit_details/<%= @resource.id %>">Edit</a>
    <% end %>
  </div>


  <br><br>
  <div class="helper_links">
    <a href="/topics/<%= @topic.id %>">Back to <%= @topic.name %></a><br>
    <a href="/topics/index">Topic Index</a><br>
    <a href="/categories/index">Category Index</a><br>
    <br><a href="/">Home</a>
  </div>