<h3>Welcome to <%= @resource.name %>!</h3>

<a href="">In the future, add comments, and reviews!</a><br><br>

    <b>Name:</b> <a href="<%= @resource.url %>"><%= @resource.name %> <br></a>
    <b>Description:</b> <%= @resource.description %> <br>
    <b>Address:</b> <%= @resource.url %> <br>


  <br><br><a href="/categories/index">Category Index</a><br>
  <a href="/topics/index">Topic Index</a><br>
  <a href="/">Home</a>