Shows all the topics in a category

<h3>Welcome to the <%= @category.name %> index!</h3>

<% unless locals.empty? %>
  <div class="error">
    <h3><%= message %></h3>
  </div>
<% end %>

<% if @topics == [] %>
  <div class="create">
    No topics yet... <a href="/topics/<%= @category.id %>/create">Want to make one?</a>
  </div>

<% else %>
  <% if @rights[:edit] %>
    <div class="create">
      <a href="/topics/<%= @category.id %>/create">Create a new topic!</a>
    </div>
  <% end %>

  Topics currently available:

  <% if @topics == [] %>
    <div class="create">
      Well this is emberrassing. There are none to show at the moment... <a href="/topics/<%= @category.id %>/create">Want to make one?</a>
    </div>
  <% else %>

  <form action="/topics/delete/<%=@category.id%>" method="POST">
    <% @topics.each do |topic| %>
      <div class="topic">
        <br><a href="/topics/<%=topic.id%>"><%= topic.name %></a>
      </div>
      <% if @rights[:delete] %>
          Delete<input type="checkbox" name="delete_topics[<%=topic.id%>]">
      <% end %>

      <% if @rights[:edit] %>
          <a href="">Edit (no link) </a>
      <% end %>

    <% end %>
    <% if @rights[:delete] %>
      <br><br><input type="submit" value="submit deletions">
    <% end %>
  </form>
  <% end %>
<% end %>

<div class="helper_links">
  <br><a href="/categories/index">Category Index</a><br>
  <br><a href="/">Home</a>
</div>