Shows all the topics in a category

<h3>Welcome to the <%= @category.name %> index!</h3>

<% unless locals.empty? %>
  <h3><%= message %></h3>
<% end %>

<% if @topics == [] %>
    No topics yet... <a href="/topics/<%= @category.id %>/create">Want to make one?</a>
<% else %>
  <% if @create %>
    <a href="/topics/<%= @category.id %>/create">Create a new topic!</a>
  <% end %>

  Topics currently available:

  <% if @topics == [] %>
    Well this is emberrassing. There are none to show at the moment... <a href="/topics/<%= @category.id %>/create">Want to make one?</a>
  <% else %>

  <form action="/topics/delete/<%=@category.id%>" method="POST">
    <% @topics.each do |topic| %>

      <br><a href="/topics/<%=topic.id%>"><%= topic.name %></a>
      <% if @edit %>
          Delete<input type="checkbox" name="delete_topics[<%=topic.id%>]">
      <% end %>

    <% end %>
    <br><br><input type="submit" value="submit deletions">
  </form>
  <% end %>
<% end %>

<br><a href="/categories/index">Category Index</a><br>
<br><a href="/">Home</a>